.GenreContainer {
  height: 4rem;
  display: flex;
  align-items: center;
  width: 78%;
  border-radius: 999px;
  width: 100%;
   margin-right: 10%;
}
.Genre-detail {
 
  margin-left: 2rem;
  z-index: 50;
  background-color: #0f0f0f;
  padding: 2rem 0.2rem;
  overflow-x: scroll;
  position: fixed;
  width: 75%;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
.Genre-detail > span {
  margin-right: 1rem;
  padding: 0.5rem;
cursor: pointer;
  white-space: nowrap;
  border: 1px solid #2e2c2c;
  border-radius: 999px;
  &:hover {
    background-color: #2e2c2c;
  }
}
