.video-container {
  margin-top: 2%;
  margin-right: 2%;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem 1.3rem;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  border-radius: 10px;
  /* border: 1px solid wheat; */
}

.video-wrapper {
  width: 100%;
}
.video-container > p {
  text-align: center;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  height: 100%;
  height: max-content; /* Optionally set the height based on your layout requirements */
}

.loading-container > p {
  text-align: center;
}
