.sidebar-container {
  padding: 5px 15px 20px 8px;
  width: 100%;
  background-color: #0f0f0f;
}
.sidebar-button {
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.4rem 4rem 0.4rem 1rem;
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  margin-bottom: 0.6rem;
  &:hover {
    background-color: #2e2c2c;
  }
}
.active {
  background-color: #2e2c2c;
}
.sidebar-button1 {
  color: #ffffff;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 8px;
  height: 4rem;
  margin-bottom: 0.6rem;
  &:hover {
    background-color: #2e2c2c;
  }
  &:last-child {
    font-size: 0.9rem;
  }
}
.menu-item {
  margin-bottom: 1.2rem;
  &:not(:first-child) {
    margin-top: 1rem;
  }
  .menu-item-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1.1rem;
  }
}
.sidebar-btn{
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 10%;
  font-size: 1rem;
    color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 5.5rem 0.6rem 1.5rem;
   &:hover {
    background-color: #2e2c2c;
  }
}
.sidebar-btn1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin-top: 10%;
  margin-left: 2%;
  font-size: 1rem;
    color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
   &:hover {
    background-color: #2e2c2c;
  }
  span{
  font-size: 1.5rem;
}
}
.sidebar-btn>span{
  font-size: 1.5rem;
}