.sidebar-container {
  padding: 5px 18px 20px 8px;
  width: 100%;
}
.sidebar-button {
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.4rem 4rem 0.4rem 1rem;
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  margin-bottom: 0.6rem;
  &:hover {
    background-color: #2e2c2c;
  }
}
.active {
  background-color: #2e2c2c;
}
.sidebar-button1 {
  color: #ffffff;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 8px;
  height: 4rem;
  margin-bottom: 0.6rem;
  &:hover {
    background-color: #2e2c2c;
  }
  &:last-child {
    font-size: 0.9rem;
  }
}
.menu-item {
  margin-bottom: 1.2rem;
  &:not(:first-child) {
    margin-top: 1rem;
  }
  .menu-item-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1.1rem;
  }
}
