.comments{
    margin-top: 2%;
}
.no-of-comments{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2%;
}
.comment-contain{
    display: flex;
    margin-bottom: 2%;
}
.comment-user-img{
    width: 9%;
    height: 9%;
    border-radius: 50%;

}.comment-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comment-input{
    padding: 10px;
    color: white;
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid wheat;
}
.comment-btn{
    margin-left: 80%;
    border: none;
    padding: 10px;
    border-radius: 20px;
}