.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}
.SidebarWrapper {
  position: -webkit-sticky;
  position: sticky;
  overflow-y: scroll;
  height: 89vh;
  margin-right: 1rem;
  /* border: 1px solid white; */
}
.VideoContainerWrapper {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}
